.midia{
    display: flex;
    }
    h1{
        color:darkblue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 150px;

    }
    #Li1{
        color:red;
        font-family:Arial, Helvetica, sans-serif;
    }
    .body ul, li{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display:flex;
        list-style-type: none;
    }
    #contato{
        font-size: 30px
    }
    #sobre{
        font-size: 30px
    }